@import './css/sedipro-themes.css';

body {
  margin: 0;
  font-family: var(--font-sans);
  background: var(--color-neutral-0);
  color: var(--color-neutral-900);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  scroll-behavior: smooth;
}